:root{
    /* красный */
    --red: rgb(242, 60, 60);

    /* синий */
    --blue: rgba(64, 111, 233, .25);

    /* серый */
    --gray: rgba(233, 233, 233, 1);


    /* шрифты */
    --inter: "Inter", sans-serif;
    --regular: 400;
    --semibold: 600;
    --bold: 700;
}