@import '/src/assets/styles/_fonts.css';
@import '/src/assets/styles/_vars.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
}
a {
  text-decoration: none;
}
body{
  font-family: var(--inter);
  font-weight: var(--regular);
  font-size: 16px;
  line-height: 19px;
}
input,
textarea,
button{
  font-family: var(--inter);
  font-weight: var(--regular);
  font-size: 16px;
  line-height: 19px;
}
ul{
    list-style: none;
}

.tab{
  @apply bg-primary p-[20px] border border-white first:rounded-tl-[25px] last:rounded-tr-[25px] last:rounded-br-[25px] cursor-pointer transition-all ease-in-out duration-200;
}
.btn{
  @apply border-[3px] border-bluora bg-primary p-[15px] rounded-[20px] cursor-pointer mt-[10px] mb-[20px] transition-all ease-in-out duration-200 hover:border-primary hover:bg-bluora active:translate-y-[5px];
}